@font-face{
    font-family: "Gotham";
    src: url(../fonts/Gotham-Book.otf);
    src: url(../fonts/Gotham-Medium.otf);
}

.Logo {
	margin-left: -100px;
	margin-top: 50px;
}

p {
	font-family: "Gotham-Book";
	color: #606060;
	font-size: 16px;
	text-align: left;
	margin-left: 300px;
	margin-top: 70px;
}

.heart {
margin-left: 750px;
margin-top: -140px;
}