html,
body {
  font-family: 'Montserrat', sans-serif;
  color: #404040;
  background-color: black;
    background-image: url('http://images6.fanpop.com/image/photos/33700000/30-Seconds-To-Mars-A-Beautiful-Lie-Music-Video-30-seconds-to-mars-33765130-1920-1080.jpg');
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

iframe{
  margin-left: 350px;
  margin-top: 80px;
}

.container {
  width: 520px;
  margin-top: 20px;
}

.button-group {
  margin-bottom: 20px;
}

.counter {
  display: inline;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10px;
  color:white;
}

.posts {
  clear: both;
  list-style: none;
  padding-left: 0;
  width: 100%;
}

.posts li {
  background-color: #fff;
  border: 1px solid #d8d8d8;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  word-wrap: break-word;
  min-height: 42px;
}