#bg {
  position: fixed; 
  top: 0%; 
  left: 0%; 
  width: 110%; 
  height: 110%;
}
#bg img {
  position: relative; 
  top: 0;
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

body {
	font-family: 'Lora', serif;
	background: #fafafa;
}

.contenedor1 {
	position: relative;
	top: 75px;
	/*border:1px solid blue;*/
	width: 850px;
	margin: 0 auto;
	z-index: 1;
}

.contenedor2 {
	position: relative;
	z-index: 5;
	clear: both;
/*	border: 1px solid green; */	
	width: 500px;
	margin:0 auto;
}

h1, h2 {
	font-family: 'Dancing Script', cursive;
	font-size: 60px;
	color: #423c40;
}
h3 {
	font-family: 'Dancing Script', cursive;
	color: #333126;
	font-size: 27px;
	margin-top: 0px;
}

h4 {
font-family: 'Libre Baskerville', serif;
	color: #f0e8c4;
	font-size: 15px;
	margin-top: -57px;
	margin-left: 200px;
}

p {
	font-size: 15px;
	line-height: 20px;
	color: #333126;
}

/*.texto1, .texto2, .texto3, .texto4 {
	border: 1px solid red;
}*/

.texto1 {
	width: 400px;
	float: left;
	margin-left: 430px;
}
.texto1 h2{
	width: 400px;
	margin-left: 100px;
	margin-top: -15px;
}

.texto1 h1 {
	color: #423c40;
}

.texto1 h1 span {
	color: #423c40;
	font-family: 'Lora', serif;
}

.texto2 {
	width: 420px;
	float: left;
	margin-left: 500px;
}

.texto2 h2 {
	color: white;
}

.texto3, .texto4 {
	position: absolute;
	width: 500px;
	color: white;
}

.texto3 {
	top: 150px;
	left: 260px;

}

.texto4 {
	top: 80px;
	left: 320px;
	bottom:;
}
