#bg {
  position: fixed; 
  top: 0%; 
  left: 0%; 
  width: 110%; 
  height: 110%;
}
#bg img {
  position: relative; 
  top: 0;
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

body {
	font-family: 'Poppins', sans-serif;
	background: #fafafa;
}

.contenedor1 {
	position: relative;
	top: 50px;
	/*border:1px solid blue;*/
	width: 850px;
	margin: 0 auto;
	z-index: 1;
}

.contenedor2 {
	position: relative;
	z-index: 5;
	clear: both;
/*	border: 1px solid green; */	
	width: 500px;
	margin:0 auto;
	margin-top: 500px;
}

h1, h2 {
	font-family: 'Berkshire Swash', cursive;
	font-size: 60px;
	color: #423c40;
}
h3 {
	font-family: 'Bree Serif', serif;
	color: #0f1f27;
	font-size: 15px;
	margin-top: 0px;
}

h4 {
font-family: 'Bree Serif', serif;
	color: #2b687e;
	font-size: 15px;
	margin-top: -57px;
	margin-left: 330px;
}

p {
	font-family: 'Poppins', sans-serif;
	font-size: 25px;
	line-height: 25px;
	color: #405600;
	margin-top: 30px;
}

/*.texto1, .texto2, .texto3, .texto4 {
	border: 1px solid red;
}*/

.texto1 {
	width: 700px;
	float: left;
	margin-left: -180px;
}
.texto1 h2{
	width: 400px;
	margin-left: 100px;
	margin-top: 35px;
}

.texto1 h3 {
	color: #2b687e;
	margin-top: 55px;

}

.texto1 h1 span {
	color: #2b687e;
	font-family: 'Berkshire Swash', cursive;

.texto2 {
	width: 420px;
	float: left;
	margin-left: 500px;
}

.texto2 h2 {
	color: white;
}


